<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mybatis.mapper.PostMapper">          <!--namespace는 여러 mapper들 중 어떤 mapper인지 구분하기 위한 구분점이고, 연결대상을 인터페이스로 하여 단위테스트시 추상된 걸 구체화한다.-->
    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, POST_STATUS, MEMBER_ID)
        VALUES(SEQ_POST.NEXTVAL, #{postTitle}, #{postContent}, #{postStatus}, #{memberId})
    </insert>

    <select id="selectAll" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, POST_STATUS, MEMBER_ID
        FROM TBL_POST
    </select>


</mapper>